<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Message board</title>
  </head>
  <body>
    <div id='container'>
      <div id='top'>
        <h1>Message Board</h1>
      </div>

      <div id='msg_tool'>
        <form id='msg_form' method='POST'
          action="{{ url_for('message.message_api', _method='POST') }}">
          <ul>
            <li><textarea name="content" cols="80" rows="5"
              placeholder="write content here..."></textarea></li>
            <li><input type="submit"/></li>
          </ul>
        </form>
      </div>

      <div id='msg_area'></div>

      <script type="text/javascript"
        {% if config['DEBUG'] %}
          src="{{ url_for('static',filename='js/jquery.js') }}"
        {% else %}
          src="{{ url_for('static',filename='js/jquery.min.js') }}"
        {% endif %}></script>
      <script type="text/javascript"
          src="{{ url_for('static',filename='js/index.js') }}"></script>
      <script type="text/javascript" >
        $(document).ready(function(){
            var url = "{{ url_for('message.message_api', _method='POST') }}"
            $('#msg_area').on('mouseenter', ' > div', function() {
              $(this).find('.del_bt').css('visibility', 'visible');
            });
            $('#msg_area').on('mouseleave', ' > div', function() {
              $(this).find('.del_bt').css('visibility', 'hidden');
            });
            $('#msg_area').on('dblclick', '.msg_content', function(){
              var area = $(this).find('textarea')
              area.attr('data-ori', area.val());
              area.attr('disabled', false);
              area.focus();
            });
            $('#msg_area').on('focusout', '.msg_content textarea',
              updateMsg(url));
            $('#msg_form').submit(postMsg(url, '#msg_area'));
            $('#msg_area').on('click', '.del_bt', delMsg(url));
            show(url, '#msg_area');
        });
      </script>
    </div>
  </body>
</html>
