body {
  margin: 0px;
}

.block_on_right() {
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.block_on_middle() {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#container {
  .block_on_middle();
  width: 800px;
}

#container > #top {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}

#container > div {
  .block_on_middle();
  width: 600px;
}

#msg_form > ul {
  .block_on_middle();
  list-style-type: none;
  padding: 0;
}

#msg_form textarea {
  .block_on_middle();
  font-family: serif;
  font-size: 16px;
  width: 100%;
}

#msg_form input[type="submit"]{
  .block_on_right();
}

#msg_area {
  font-size: 16px;
}

.msg_padding() {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.msg_content {
  .msg_padding();
}

.msg_content_textarea() {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  outline: none;
  resize: none;
  background-color: transparent;
  color: inherit;
}

.msg_content textarea {
  .msg_content_textarea();
  border-color: grey;
}

.msg_content textarea[disabled="disabled"] {
  border-width: 0;
  .msg_content_textarea();
}

#msg_area .del_bt {
  cursor: pointer;
  font-size: 0.5em;
  background-color: transparent;
  border-width: 1px;
  color: grey;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  float: right;
  visibility: hidden;
}
