body {
  margin: 0px;
}
#container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}
#container > #top {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
}
#container > div {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
}
#msg_form > ul {
  margin-left: auto;
  margin-right: auto;
  display: block;
  list-style-type: none;
  padding: 0;
}
#msg_form textarea {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: serif;
  font-size: 16px;
  width: 100%;
}
#msg_form input[type="submit"] {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
#msg_area {
  font-size: 16px;
}
.msg_content {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.msg_content textarea {
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  outline: none;
  resize: none;
  background-color: transparent;
  color: inherit;
  border-color: grey;
}
.msg_content textarea[disabled="disabled"] {
  border-width: 0;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  outline: none;
  resize: none;
  background-color: transparent;
  color: inherit;
}
#msg_area .del_bt {
  cursor: pointer;
  font-size: 0.5em;
  background-color: transparent;
  border-width: 1px;
  color: grey;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  float: right;
  visibility: hidden;
}
